html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: mediumslateblue;
  font-family: Helvetica, Arial, sans-serif;
}

button {
  border: 0;
  border-radius: .25rem;
  padding: .5rem 1rem;
}

.card {
  position: relative;
  background: rgb(243, 0, 93);
  padding: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, .1);
  min-width: 15rem;
}

.title {
  text-align: center;
  color: rgb(255, 0, 128);
  margin-bottom: .5rem;
}

#form-register {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;}

  input {
      width: 100%;
      display: block;
      border-radius: .25rem;
      outline: none;
      background: transparent;
      box-sizing: border-box;
  }


input[type="range"] {
  height: 2px;
  margin-top: .75rem;
}

input[type="number"] {
  margin-top: 1rem;
  padding: .5rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 0, 128);
}

.btn-register {
  font-size: 1rem;
  color: rgb(245, 1, 62);
  cursor: pointer;
  margin-top: 2rem;
  font-weight: bold;
  letter-spacing: 0.03em;
  box-shadow: 0 0 0 0 rgb(255, 0, 128);
  transition: background .2s ease, box-shadow .2s ease;
  background: slateblue;
  background: mediumslateblue;
  box-shadow: 0 8px 20px -8px rgba(0, 0, 0, .6);
  }


#result {
  margin-top: 1rem;
  top: 2rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  background: rgb(250, 0, 133);
  text-align: center;
  font-weight: bold;
  color: lightcoral;
}